header{
    background-color:black;
    color:white;
}
body{
    margin-left:50px;
}
footer{
    background-color:black;
    color:white;
    text-align:end;
    margin-bottom:0;
}
ul{
    display:inline-block;
    text-decoration:none;
}
li{
    display:inline-block;
    padding-left:50px;
    padding-right:50px;
    color:aqua;
}
a{
    color:aqua;
}
header{
    margin-left:-50px;
    text-align:center;
}
body{
    text-align:center;
}
table,tr,th,td{
    border:5px solid black;
    background-color:black;
    color:white;
    margin-left:450px;
}
form{
    background-color:black;
    color:white;
    margin-left:450px;
    margin-right:388px;
}